gh/
gh/hosts.yml
BetterDiscord
awesome/themes/default
beets/discogs_token.json
beets/library.db
beets/spotify_token.json
beets/state.pickle
cava
dconf
discord
htop
htop
lazygit
mps-youtube
musikcube
nicotine
nvim/lazy-lock.json
obs-studio
privateinternetaccess
pulse
nohup.out
user-dirs.dirs
user-dirs.locale
